# Global Owners
* @vparfonov @skabashnyuk

antlr-java5-grammar/** @tolusha
che-orion-editor/** @azatsarynnyy
che-terminal-client/** @AndrienkoAleksandr
che-test-ls/**  @evidolob
org-eclipse-jdt-core-repack/** @evidolob
